NEXT_PUBLIC_BACKEND_API_URL=http://127.0.0.1:8000/api/v1
NEXTAUTH_SECRET="secrets"
NEXTAUTH_URL="http://localhost:3000"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_SECURE="false"

SMTP_USER="xcaliburcosmic@gmail.com"
SMTP_PASS="mgggusumygzhidij"

SMTP_FROM="IIT ISM Recruiter Portal <xcaliburcosmic@gmail.com>"